.flex-field-repeating-text {

  .flex-field-collection {

    margin: .5em 0;

    > div {

      display: flex;
      margin: .25em 0;

      input {
        margin-right: 10px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1em;
        color: grey;
        padding: 0 .5em;
      }

    }

  }

  button[data-action="add"] {
    @extend .flex-button;
  }

}