.flex-field-flatpickr {

  .flex-label-text {
    display: block;
  }

  .flatpickr-input {
    background-color: white;
  }

  .flatpickr-reset {
    color: gray;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: -20px;
  }

}