<fieldset {% include 'attributes.twig' %}>

    {%- if legend -%}
        <legend>{{- legend|e('html') -}}</legend>
    {%- endif -%}

    <div>
        {%- for item in value -%}
            <div>
                <input type="text" name="{{ name|e('html_attr') }}[]" value="{{ item|e('html_attr') }}" />
                <button type="button" title="Delete" data-action="delete">✕</button>
            </div>
        {%- endfor -%}
        <div>
            <input type="text" name="{{ name|e('html_attr') }}[]" value="" />
            <button type="button" title="Delete" data-action="delete">✕</button>
        </div>
    </div>

    <button type="button" title="Add" data-action="add">+ Add</button>

</fieldset>