.flex-error {
  max-width: 600px;
  display: block;
  margin: .5em 0 1em 0;
  padding: .25em;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #dd0000;
}

.flex-field-has-error {
  .flex-label-text,
  & > fieldset > legend {
    color: #dd0000;
  }
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="text"] {
    border: 1px solid #dd0000;
  }
}